

body {
    background-color: #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #10403B;
    text-align: center;
}
h1#principal {
    text-align: center;
    background-color: #127369;
    color: white;
}

h2 {
    color: rgb(106, 133, 130);
    text-align: center;
}

.basico {
    color: rgb(106, 133, 130);
}

.intermediario {
    color: rgb(133, 106, 106);
}

.avancado {
    color: rgb(106, 133, 130);

}
.destaque {
    background-color: #c5c56070;
}